{% extends "my_blog/base.html" %} {% block body %}
<div class="container card">
  <h1 class="blogTitle card-header">{{blog.title}}</h1>

  <div class="card-body">{{blog.content|safe}}</div>
</div>
{% if user.is_authenticated%}
<form action="" method="POST">
  {% csrf_token%}
  <div class="container">
    <button type="submit" class="button2 mb-4">Delete Blog</button>
  </div>
  <div class="container">
    <a href="/edit_blogpost/{{blog.slug}}"
      ><button type="button" class="button2 mb-4">Edit Blog</button></a
    >
  </div>
</form>

{% endif%} {% endblock body %}
